@using Microsoft.AspNetCore.Identity
@inject UserManager<Forum.ForumData.Models.ApplicationUser> userManager
@inject SignInManager<Forum.ForumData.Models.ApplicationUser> SignInManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Forum</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.0/css/bulma.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
            <a class="navbar-brand" asp-controller="Home" action="Index" style="padding-top:10px;" asp-controller="Home" asp-action="Index">Dev Community Forum</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" asp-controller="Forum" asp-action="Index">Forums<span class="sr-only"></span></a>
                    </li>
                    @{
                        if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Settings
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" asp-controller="Admin" asp-action="Index">Create User Role</a>
                                    <a class="dropdown-item" asp-controller="Forum" asp-action="Create">Create Forum</a>
                                </div>
                            </li>
                        }
                    }
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Profile
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    @*Pass in user Id that is signed in to the controller, to further find that user*@
                                    <a class="dropdown-item" asp-controller="Profile" asp-action="Index">View</a>
                                </div>
                            </li>
                        </ul>
                        <a class="nav-link" asp-controller="Account" asp-action="Logout">Logout @User.Identity.Name</a>
                    }
                    else
                    {
                        <a class="btn btn-light mr-2" asp-controller="Account" asp-action="Register">Register</a>
                        <a class="btn btn-light" asp-controller="Account" asp-action="Login">Login</a>
                    }
                </form>
            </div>
        </nav>

    </header>
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
    @await Component.InvokeAsync("NToastNotify")
</body>
</html>
