@model Forum.Models.Post.PostReplyModel
<article class="media">
    <form class="media-content" asp-controller="Reply" asp-action="AddReply" asp-route-id="@Model.Id" method="post">
        <div class="field">
            <p class="control">
                <textarea class="textarea" placeholder="Add a comment..." asp-for="Content"></textarea>
            </p>
        </div>
        <nav class="level">
            <div class="level-left">
                <div class="level-item">
                    <input class="button is-info" type="submit" value="Submit" />
                </div>
            </div>
        </nav>
    </form>
</article>