@model Forum.Models.Account.RegisterViewModel

<div class="container mt-4">
    <div class="modal fade" id="aModal" tabindex="-1" role="dialog" aria-labelledby="aModalLabel"
         aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="aModalLabel">Message</h4>
                </div>
                <div class="modal-body">
                    @TempData["message"]
                    @ViewBag.Message
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">OK</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="closeBtn">Close</button>
                </div>
            </div>
        </div>
    </div>
    <h2 class="title is-2 mb-4">Register</h2>
    <form asp-controller="Account" asp-action="Register" id="registerForm">
        <div class="field">
            <label class="label" asp-for="Username"></label>
            <div class="control">
                <input class="input" type="text" placeholder="Enter your username" asp-for="Username" />
                <span class="help is-danger" asp-validation-for="Username"></span>
            </div>
        </div>
        <div class="field">
            <label class="label" asp-for="Email"></label>
            <div class="control">
                <input class="input" placeholder="Enter your email" asp-for="Email" />
                <span class="help is-danger" asp-validation-for="Email"></span>
            </div>
        </div>
        <div class="field">
            <label class="label" asp-for="Password"></label>
            <div class="control">
                <input class="input" placeholder="********" asp-for="Password" />
                <span class="help is-danger" asp-validation-for="Password"></span>
            </div>
        </div>
        <div class="field">
            <label class="label" asp-for="ConfirmPassword"></label>
            <div class="control">
                <input class="input" placeholder="********" asp-for="ConfirmPassword" />
                <span class="help is-danger" asp-validation-for="ConfirmPassword"></span>
            </div>
        </div>
        <div class="field">
            <div class="control">
                <input class="button is-primary" type="submit" id="submitBtn" />
            </div>
        </div>
    </form>
</div>
@{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript">$(function () {
            $("#registerForm").submit(function (e) {
                $('#aModal').modal('show');
                e.preventDefault();
            })

        });</script>
}