@model Forum.Models.Post.PostCreateModel
<div class="container mt-3">
    <h2 class="subtitle is-2 mb-3">Create Post</h2>
    <form>
        <div class="field">
            <label class="label" asp-for="Title"></label>
            <div class="control">
                <input class="input" type="text" placeholder="Add Title Here..." asp-for="Title">
                <span class="help is-danger" asp-validation-for="Title"></span>
            </div>
        </div>

        <div class="field">
            <label class="label" asp-for="Content"></label>
            <div class="control">
                <textarea class="textarea" placeholder="Add Message Here ..." asp-for="Content" rows="8"></textarea>
                <span class="help is-danger" asp-validation-for="Content"></span>
            </div>
        </div>

        <div class="field">
            <div class="control">
                <input class="button is-primary" type="submit" />
            </div>
        </div>
    </form>
</div>

